version: '3.9'

services:
  plan-go:
    build: .
    container_name: plan-go-app
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./backend:/app/backend
    restart: unless-stopped
